.v-field__input[type="number"] {
  -moz-appearance: textfield;
}
.v-field__input::-webkit-outer-spin-button,
.v-field__input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
